
#result{
    color: rgb(152, 183, 246);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 80px;
    margin-top: 0%;
    background-color: rgb(71, 120, 242);
}
h1{
    color: rgb(71, 120, 242);
    text-align: center;
}